//
//  Config.xcconfig
//  ChristFellowship
//
//  Created by Ryan Davidson on 6/28/21.
//  Copyright © 2021 Christ Fellowship Church. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include? "tmp.xcconfig"
